<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
      
        <!-- Socket.IO client (better to use the server-served version) -->
        <script src="/socket.io/socket.io.js"></script>
      
        <!-- Leaflet CSS + JS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
      
        <!-- Your pin styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/shelter-pin.css') }}">
      
        <!-- Template used for shelter list -->
        <template id="shelter-list-item-template">
            <div class="shelter-list-item-template">
                <p class="name"></p>
                <p class="capacity"></p>
                <a class="map-link" href="yeet">GO!</a>
            </div>
        </template>
      
        <!-- ONE entry module that imports everything else -->
        <script type="module" src="{{ url_for('static', filename='js/app_ui.js') }}"></script>
    </head>
  <meta charset="UTF-8" />

  <!-- Socket.IO client (better to use the server-served version) -->
  <script src="/socket.io/socket.io.js"></script>

  <!-- Leaflet CSS + JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

  <!-- Your pin styles -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/shelter-pin.css') }}">

  <!-- Template used for shelter list -->
  <template id="shelter-list-item-template">
    <div class="shelter-list-item-template">
      <p class="name"></p>
      <p class="capacity"></p>
      <a class="map-link" href="yeet">GO!</a>
    </div>
  </template>

  <!-- ONE entry module that imports everything else -->
  <script type="module" src="{{ url_for('static', filename='js/app_ui.js') }}"></script>
</head>
    </head>
    <body>
        <body>
            <h2>Map Test Page</h2>
        
            <!-- Leaflet renders into this -->
            <div id="map" style="width: 100%; height: 450px;"></div>
        
            <!-- List renders into this -->
            <div id="shelter-list"></div>
        </body>

        </div>
    </body>
</html>
