<!DOCTYPE html>
<html>
    <head>
        <template id="shelter-list-item-template">
            <div class="shelter-list-item-template">
                <p class="name"></p>
                <p class="capacity"></p>
                <a class="map-link" href="yeet">GO!</a>
            </div>
        </template>
       
    </head>
    <body>
        <iframe></iframe>
        <div id="shelter-list">

        </div>
    </body>
    <script src="{{ url_for('static', filename='js/add_shelter_list_items.js') }}" defer></script>
</html>
