<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
<title>User UI</title>

<!-- Leaflet CSS + JS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<!-- Socket.IO CLIENT (use CDN, since Flask-SocketIO doesn't serve /socket.io/socket.io.js) -->
<script src="https://cdn.socket.io/4.8.3/socket.io.min.js"
        integrity="sha384-kzavj5fiMwLKzzD1f8S7TeoVIEi7uKHvbTA3ueZkrzYq75pNQUiUi6Dy98Q3fxb0"
        crossorigin="anonymous"></script>

<!-- Your pin styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/shelter-pin.css') }}">


<!-- Template used for shelter list -->
<template id="shelter-list-item-template">
    <div class="shelter-list-item-template">
        <p class="name"></p>
        <p class="capacity"></p>
        <a class="map-link" href="#">GO!</a>
    </div>
</template>

<!-- ONE entry module -->
<script type="module" src="{{ url_for('static', filename='js/app_ui.js') }}"></script>
</head>

<body>
<div class="app-shell">
  <div id="map"></div>

  <div class="top-actions">
    <a class="login-btn" href="/shelter/login">Shelter Login</a>
  </div>

  <div class="bottom-strip">
    <div id="shelter-list"></div>
  </div>
</div>
</body>
</html>